* {
    box-sizing: border-box; /* Adiciona um box-sizing para facilitar o controle de largura e padding */
}

body {
    font-family: "Kanit", sans-serif;
    background-color: beige;
    margin: 0; /* Remove a margem padrão do body */
}

#header {
    background-color: gray;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    margin: 0;   
}

#form {
    display: flex;
   justify-content: center;
   font-size: 30px;
   padding: 20px; 
}

#result {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#button {
    margin: 12px;
}
